/* @media only screen and (prefers-color-scheme: dark) {
  @import "~primereact/resources/themes/md-dark-indigo/theme";
}

@media only screen and (prefers-color-scheme: light),
  screen and (prefers-color-scheme: no-preference) {
  @import "~primereact/resources/themes/md-light-indigo/theme";
} */
